<h3>Listado</h3>
<div
  class="ui card"
  style="margin-top: 30px; padding: 20px; display: block; width: 100%"
>
  <div class="ui middle aligned divided list">
    <div class="item" *ngFor="let videogame of videogames">
      <div class="right floated content">
        <button
          (click)="deleteVideogame(videogame._id)"
          class="ui icon button"
          href=""
          style="background-color: #ffffff; color: red"
          ><i class="window close outline icon"></i
        ></button>
        <button
          class="ui icon button"
          href=""
          style="background-color: #ffffff; color: #2185D0"
          ><i class="edit outline icon"></i
        ></button>
      </div>
      <div class="content">
        <a [routerLink]="['/videojuego',videogame._id]" class="header">{{ videogame.nombre }}</a>
        <div class="description" style="margin-top: 8px">
          Por {{ videogame.desarrollador?.nombre }}
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
