<div class="ui container" style="margin-top: 10px">
  <h1 class="ui grey header">Desarrolladores</h1>
  <div class="ui grid">
    <div class="eight wide column">
      <app-developer-form (onSubmit)="postDeveloper($event)"></app-developer-form>
      <app-developers-list (onDeleteDev)="deleteDeveloper($event)" [developers]="developers"></app-developers-list>
    </div>
    <div class="eight wide column">
      <app-top-developers [topDevelopers]="topDevelopers"></app-top-developers>
    </div>
  </div>
</div>
