<div class="ui secondary pointing menu">
  <div class="left menu">
    <i class="big violet gamepad icon" style="margin: 10px 0 0 10px"></i>
    <h3 class="ui header item">VideogamesApp</h3>
  </div>
  <div class="right menu">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="active item"
    >
      Videojuegos
    </a>
    <a
      routerLink="/consolas"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="item"
    >
      Consolas
    </a>
    <a
      routerLink="/desarrolladores"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="item"
    >
      Desarrolladores
    </a>
  </div>
</div>


