<div class="ui secondary pointing menu" style="background-color: #651FFF; border: none;">
  <div class="left menu">
    <i class="big gamepad icon" style="margin: 10px 0 0 10px; color:white"></i>
    <h3 class="ui item" style="color: white;">VideogamesApp</h3>
  </div>
  <div class="right menu">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="item"
      style="color: white;"
    >
      Videojuegos
    </a>
    <a
      routerLink="/consolas"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="item"
      style="color: white;"
    >
      Consolas
    </a>
    <a
      routerLink="/desarrolladores"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="item"
      style="color: white;"
    >
      Desarrolladores
    </a>
  </div>
</div>


