<div class="ui container" style="margin-top: 10px">
  <h1 class="ui grey header">Consolas</h1>
  <div class="ui grid">
    <div class="eight wide column">
      <h4>Consolas</h4>
    </div>
    <div *ngFor="let item of list">
      {{ item.name }}
    </div>
  </div>
  <div class="ui grid">
    <div class="eight wide column">
      <button (click)="newConsole()">Agregar</button>
    </div>
    <app-consolas-form
      *ngIf="add"
      [userId]="newId"
      (submitForm)="listenSubmit($event)"
    ></app-consolas-form>
  </div>
</div>
