@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  margin: 0;
  box-sizing: border-box;
}
/* You can add global styles to this file, and also import other style files */
.app-btn {
  border-radius: 3px;
  color: white;
  padding: 5px;
  border: none;
  min-width: 150px;
  margin: 10px 0 10px 5px;
}
.app-btn.main {
  background: #2db8af;
  box-shadow: 0 2px 0px 0px #059087;
  color: #ffffff;
}


.nav{
  background-color: #651FFF;
  color: white;
}

body{
  color: #626262;
  background-color:#F5F5F5;
}
.btn{
  background-color: #7B1FA2;
  color: white;
  border-radius: 15px;
}
